<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="columns is-desktop">
      <div class="column is-10">
        <% @articles.reverse.each do |article| %>
        <div class="header-content">
          <div class="">
            <h1 class="title">
              <%= article.title.mb_chars.upcase %>
            </h1>
          </div>
        </div>

        <div class="subheader-content">

          <p>posted in on <a class="is-underlined-link"></a></p>
        </div>

        <div class="single-content">
          <%= truncate(article.text, length: 358, escape: false) %>
          <div class="">
            <p><%= link_to "Devamını Oku", article_path(article), {:class => "button"} %></p>
          </div>
        </div>

        <!--  end of post -->
        <% end %>

      </div>
    </div>

</div>