
<div class="hero-body">
  <div class="columns is-desktop">
    <div class="column  is-full">
      <div class="header-content">
          <h1 class="title"> <%= @article.title.mb_chars.upcase %> </h1>
      </div>

      <div class="subheader-content">

      </div>

      <div class="single-content">
        <p><%= raw @article.text %></p>
      </div>
    </div>
  </div>
</div>

