
<div class="hero-body">
  <div class="columns is-desktop">
    <div class="column  is-full">
      <div class="header-content">
          <h1 class="title"> <%= @article.title.mb_chars.upcase %> </h1>
      </div>

      <div class="subheader-content">
        <p>posted in <%= render partial: 'shared/categories',locals: {article: @article}  %> on
          <a class="is-underlined-link"><%= time_tag @article.created_at,:format=>'%b %d, %Y'%></a></p>
      </div>

      <div class="single-content">
        <p><%= raw @article.text %></p>
      </div>
    </div>
  </div>
</div>

