  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-10 offset-1 my-4">

      <!-- Title -->
      <h1 class="mt-4 article-title"><%= @article.title %></h1>

      <hr>

      <!-- Date/Time -->
      <p><%= @article.created_at.strftime('%b %d, %Y') %></p>

      <hr>

      <!-- Post Content -->
      <p><%= raw @article.text %></p>

      <hr>
      <% if @article.draft && logged_in? %>
        <div class="publish-button">
          <%= link_to "Yayınla", publish_article_path(@article),{:class => "btn btn-success btn-md"} %>
        </div>
      <% end %>
    </div>
  </div>