<nav class="panel categories-panel">
  <p class="panel-heading"> Categories </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search">
      <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
    </p>
  </div>
  <%= collection_check_boxes(:article, :category_ids, Category.all.order(:id), :id, :description) do |category| %>
    <%= category.label(class: "panel-block") { category.check_box(class: "check_box") + category.text}%>
  <% end %>
</nav>