<div class="columns is-desktop" id="mail-app">
  <div class="column dashboard-right-side" id="message-feed">
    <div class="edit-form-container">
      <%= render 'form' %>
    </div>
  </div>
</div>