<header>
  <!--<div class="container">-->
      <div class="has-text-centered">
        <%=link_to image_tag("yduyar1.jpg", :alt => "Yusuf Duyar", :title => "Yusuf Duyar"),"/" %>
        <h1 class="title is-1 is-spaced"><a href="/" title="Yusuf Duyar">Yusuf Duyar</a></h1>
        <h4 class="subtitle is-4">Software Developer</h4>
        <div class="subheader-content has-text-centered">
          <div class="nav-center">
            <a class="nav-item" href="https://github.com/yusufduyar" target="_blank">
              <span class="icon"><i class="fab fa-github"></i></span>
            </a>
            <a class="nav-item" href="https://www.linkedin.com/in/yusufduyar/" target="_blank">
              <span class="icon"><i class="fab fa-linkedin-in"></i></span>
            </a>
            <a class="nav-item" href="https://twitter.com/binarymood" target="_blank">
              <span class="icon"><i class="fab fa-twitter"></i></span>
            </a>
            <a class="nav-item"  href="https://www.instagram.com/melikee_yusuff/" target="_blank" >
              <span class="icon"><i class="fab fa-instagram"></i></span>
            </a>
            <a class="nav-item" href="https://www.facebook.com/yusufmelikee" target="_blank">
		          <span class="icon"><i class="fab fa-facebook-f"></i></span>
            </a>

          </div>
        </div>
      </div>
    <!--<div class="section">-->
      <!--<div class="tabs is-centered">-->
        <!--<ul>-->
          <!--<li class="is-active"><a href="index.html">Home</a></li>-->
          <!--<li><a href="post.html">Static Post</a></li>-->
          <!--<li><a href="">Portfolio</a></li>-->
          <!--<li><a href="">Search</a></li>-->
          <!--<li><a href="contact.html">Contact</a></li>-->
          <!--<li><a href="about.html">About</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</header>