.dashboard-body{
  display: flex;
  justify-content: center;

}

.drafts-tile.box{
  background-color: #4CB5F5;
}

.totals-tile.box{
  background-color: #6AB187;
}

.dashboard-right-side{
  margin-top: 20px;
}

