$primary-color : #2b0042;
$second-color: #420a60;

.navbar {
  background: linear-gradient(to right, $primary-color 21%, $second-color 100%);
}

.buttons {
  .submit-button{
    margin-left: 40px;
  }
}

.custom-button{
  color: white;
  background-color: $primary-color;
  border-color: $primary-color;
}

.custom-button:hover, .custom-button:focus {
  color: white;
  background-color: $second-color;
  border-color: $second-color;
}

.article-title{
  color: $primary-color !important;
}

a.article-title:link, a.article-title:visited{
  color: $primary-color !important;
}

